body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:595px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40 {
  position:absolute;
  left:38px;
  top:25px;
}
#u40_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:557px;
  height:280px;
  background-image:none;
}
#u40_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:280px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:280px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:11px;
  width:23px;
  height:23px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:566px;
  height:309px;
  visibility:hidden;
  background-image:none;
}
#u40_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:279px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:30px;
  width:531px;
  height:279px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:40px;
  width:23px;
  height:23px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
